---
name: Tests

on: push

jobs:
  build:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11.9"]
    steps:
      - name: Checkout source code
        uses: actions/checkout@v6

      - name: Install the latest version of rye
        uses: eifinger/setup-rye@v4
        with:
          version: '0.34.0'
          enable-cache: true
          cache-prefix: ${{ matrix.python-version }}

      - name: Pin python-version ${{ matrix.python-version }}
        if: steps.setup-rye.outputs.cache-hit != 'true'
        run: rye pin ${{ matrix.python-version }}

      - name: Install dependencies
        if: steps.setup-rye.outputs.cache-hit != 'true'
        run: |
          rye sync

      - name: Run Python Linter
        run: |
          rye test
